[Unit]
Description=gunicorn daemon
After=network.target

[Service]
Type=simple
User=root
Group=root

WorkingDirectory=/home/kali/code/DongTai-Server
ExecStart=/home/kali/code/DongTai-Server/.venv/bin/gunicorn -c /home/kali/code/DongTai-Server/deploy/gunicorn/config.py DongTai-Server.wsgi:application
ExecReload=/bin/kill -s hup $mainpid
ExecStop=/bin/kill -s quit $mainpid

[Install]
WantedBy=multi-user.target
